::placeholder {
  color: transparent;
}

.search-form {
  --clearButtonWidth: 50px;
  --inputHeight: 50px;

  width: 600px;
  overflow: hidden;
  position: relative;
  background: transparent;
  margin: 400px auto 0;
  border-radius: 5px;
  transition: width 0.3s ease-in-out;

  .row {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: white;

    .search-form__input-label {
      position: absolute;
      top: calc(var(--inputHeight) / 2);
      left: 20px;
      color: #777;
      pointer-events: none;
      transform-origin: left center;
      transition: transform 0.25s;
      font-weight: bold;
    }

    .search-form__input:focus + .search-form__input-label,
    .search-form__input:not(:placeholder-shown) + .search-form__input-label {
      transform: translateY(-135%) scale(0.75);
      color: #333;
    }

    .search-form__input {
      flex: 1;
      height: var(--inputHeight);
      width: 100%;
      background: transparent;
      padding-right: calc(var(--clearButtonWidth) - 0.5rem);
      border: 0;
      outline: 0;
      font-size: 18px;
      font-family: 'Comme', sans-serif;
      color: #333;
    }

    .search-form__input:not(:placeholder-shown) ~ .clear-button {
      transform: translateX(calc(-1 * var(--clearButtonWidth) - 10px));
    }

    .clear-button {
      position: absolute;
      padding: 0.5rem;
      left: 100%;
      width: var(--clearButtonWidth);
      transition: all 0.3s ease-in-out;
      border: 0;
      background: transparent;
    }

    .clear-button .fa-solid {
      width: 25px;
      color: #555;
      font-size: 22px;
      cursor: pointer;
      transition: transform 0.3s;
    }

    .clear-button .fa-solid:hover {
      transition-delay: .05s;
      -ms-transform: scale(1.5);
      -webkit-transform: scale(1.5);
      transform: scale(1.5);
    }
  }

  .search-form__progress-bar {
    height: 4px;
    background-color: rgba(5, 114, 206, 0.2);
    width: 100%;
    overflow: hidden;
  }

  .search-form__progress-bar-value {
    width: 100%;
    height: 100%;
    background-color: rgb(5, 114, 206);
    animation: indeterminateAnimation .7s infinite linear;
    transform-origin: 0 50%;
  }

  .search-form__search-result {
    max-height: 40vh;
    overflow-y: scroll;
    background: transparent;
  }

  .search-form__search-result ul {
    border-top: 1px solid #999;
    background: transparent;
  }

  .search-form__search-result ul:empty {
    padding: 0;
  }

  .search-form__search-result ul li {
    list-style: none;
    background-color: white;
    padding: 15px 100px 15px 10px;
    position: relative;
    outline: none;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border: none;
    font-family: 'Comme', sans-serif;
  }

  .search-form__search-result ul li::after {
    content: '↵';
    padding: 5px 10px;
    border-radius: 15%;
    box-shadow: 3px 3px 10px 1px rgba(0,0,0,0.1);
    background: #f3f4f5;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
  }

  .search-form__search-result ul li:focus::after {
    opacity: 1;
  }

  .search-form__search-result ul li:hover {
    background: #e9f3ff;
  }

  .search-form__search-result ul li:focus {
    background: #adc8ed;
    border: none;
  }

  .search-form__search-result ul li i {
    margin-right: 10px;
  }

  .search-form__no-results, .search-form__error {
    background-color: #ffc4c4;
    padding: 16px;
  }
}

@keyframes indeterminateAnimation {
  0% {
    transform:  translateX(0) scaleX(0);
  }
  40% {
    transform:  translateX(0) scaleX(0.4);
  }
  100% {
    transform:  translateX(100%) scaleX(0.5);
  }
}

@media (max-width: 767px) {
  .search-form {
    width: 90%;
    min-width: 375px;
    margin: 0;
    position: absolute;
    left: 5%;
    top: 25%;
    transform: translate(0, -25%);

    .search-box {
      width: 80%;
    }
  }
}

@media (max-width: 1200px) {
  .animated-bg {
    display: none;
  }
}