<app-keyboard></app-keyboard>

<form action="#" method="GET" class="search-form">
  <div class="row">
    <input id="input-search" class="search-form__input" type="search" placeholder="News topic" autocomplete="off"
      #inputRef>
    <label for="input-search" class="search-form__input-label">Search for news</label>
    <button class="clear-button" #clearBtnRef><i class="fa-solid fa-close"></i></button>
  </div>

  <ng-container *ngIf="{
    results: searchResult$ | async,
    searchStatus: searchResponse$ | async,
    inputValue: inputValueTrimmed$ | async,
  } as data;">
    @if (data.searchStatus?.status === 'loading') {
    <div class="search-form__progress-bar">
      <div class="search-form__progress-bar-value"></div>
    </div>
    } @else if (data.searchStatus?.status === 'error') {
    <div class="search-form__error">
      <span>Sorry, we couldn't load news topics</span>
    </div>
    } @else if (shouldDisplayNoResults(data.searchStatus, data.inputValue)) {
    <div class="search-form__no-results">
      <span>Nothing found ˙◠˙</span>
    </div>
    } @else {
    <div class="search-form__search-result">
      <ul [@listAnimation]="data.results?.length">
        @for (suggestion of data.results; track suggestion;
        let idx = $index) {
        <li class="js-list-item" [tabIndex]="idx" (click)="redirectBySelectedItem(idx, data.results || [])"
          #listItemRef>
          <i class="fa-regular fa-newspaper"></i>
          {{ suggestion }}
        </li>
        }
      </ul>
    </div>
    }
  </ng-container>

</form>