::placeholder {
  color: transparent;
}

.search-form {
  --clearButtonWidth: 50px;
  --inputHeight: 50px;

  width: 600px;
  overflow: hidden;
  position: relative;
  background: white;
  margin: 400px auto 0;
  border-radius: 5px;

  .row {
    display: flex;
    align-items: center;
    padding: 10px 20px;

    .screen-reader-text {
      position: absolute;
      top: calc(var(--inputHeight) / 2);
      left: 20px;
      color: #777;
      pointer-events: none;
      transform-origin: left center;
      transition: transform 0.25s;
      font-weight: bold;
    }

    .search-input:focus + .screen-reader-text,
    .search-input:not(:placeholder-shown) + .screen-reader-text {
      transform: translateY(-135%) scale(0.75);
      color: #333;
    }

    .search-input {
      flex: 1;
      height: var(--inputHeight);
      width: 100%;
      background: transparent;
      padding-right: calc(var(--clearButtonWidth) - 0.5rem);
      border: 0;
      outline: 0;
      font-size: 18px;
      color: #333;
    }

    .search-input:not(:placeholder-shown) ~ .clear-button {
      transform: translateX(calc(-1 * var(--clearButtonWidth) - 10px));
    }

    .clear-button {
      position: absolute;
      padding: 0.5rem;
      left: 100%;
      width: var(--clearButtonWidth);
      transition: all 0.3s ease-in-out;
      border: 0;
      background: transparent;
    }

    .clear-button .fa-solid {
      width: 25px;
      color: #555;
      font-size: 22px;
      cursor: pointer;
      transition: transform 0.3s;
    }

    .clear-button .fa-solid:hover {
      transition-delay: .05s;
      -ms-transform: scale(1.5);
      -webkit-transform: scale(1.5);
      transform: scale(1.5);
    }
  }

  .progress-bar {
    height: 4px;
    background-color: rgba(5, 114, 206, 0.2);
    width: 100%;
    overflow: hidden;
  }

  .progress-bar-value {
    width: 100%;
    height: 100%;
    background-color: rgb(5, 114, 206);
    animation: indeterminateAnimation .7s infinite linear;
    transform-origin: 0 50%;
  }

  .result-box {
    max-height: 40vh;
    overflow-y: scroll;
  }

  .result-box ul {
    border-top: 1px solid #999;
    padding: 15px 10px;
  }

  .result-box ul:empty {
    padding: 0;
  }

  .result-box ul li {
    list-style: none;
    border-radius: 3px;
    padding: 15px 10px;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .result-box ul li:hover {
    background: #e9f3ff;
  }

  .no-results {
    background-color: #ffc4c4;
    padding: 16px;
  }
}

@keyframes indeterminateAnimation {
  0% {
    transform:  translateX(0) scaleX(0);
  }
  40% {
    transform:  translateX(0) scaleX(0.4);
  }
  100% {
    transform:  translateX(100%) scaleX(0.5);
  }
}

@media (max-width: 700px) {
  .search-box {
    width: 80%;
  }
}
