<form action="#" method="GET" class="search-form">
  <div class="row">
    <input id="search" class="search-input" type="search" placeholder="News topic" autocomplete="off" #inputBox>
    <label for="search" class="screen-reader-text">News topic</label>
    <button class="clear-button" #clearBtn><i class="fa-solid fa-close"></i></button>
  </div>

  <ng-container *ngIf="{
    results: searchResult$ | async,
    searchStatus: searchResponse$ | async,
    inputValue: inputValueTrimmed$ | async,
  } as data;">
    @if (data.searchStatus?.status === 'loading') {
    <div class="progress-bar">
      <div class="progress-bar-value"></div>
    </div>
    } @else if (data.searchStatus?.status === 'error') {
    <div class="request-error">
      <span>Sorry, we couldn't load news topics</span>
    </div>
    } @else if (shouldDisplayNoResults(data.searchStatus, data.inputValue)) {
    <div class="no-results">
      <span>Nothing found ˙◠˙</span>
    </div>
    } @else {
    <div class="result-box">
      <ul [@listAnimation]="data.results?.length">
        @for (suggestion of data.results; track suggestion;
        let idx = $index) {
        <li class="listItem" [tabIndex]="idx" (click)="redirectBySelectedItem(idx, data.results || [])" #listItem>
          <i class="fa-regular fa-newspaper"></i>
          {{ suggestion }}
        </li>
        }
      </ul>
    </div>
    }
  </ng-container>

</form>