@font-face {
  font-family: 'Comme';
  src: url('assets/fonts/Comme/static/Comme-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-size: clamp(1rem, 1vh, 1.7rem);
  box-sizing: border-box;
}

body {
  background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
  min-height: 100vh;
  overflow-y: hidden;
  color: #333;
}
